@import 'variables';

*,
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
    color: $primaryColor;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    height: 100vh;
    background-color: $backgroundColor;
}

.site-wraper {
    width: 100%;
    padding: 2.5rem 4rem 0 4rem;
   

    .site-head {
        font-size: 2.5rem;
        width: 100%;
        margin: 1rem 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        h1 {
            font-size: 4.0rem;
        }

        a {
            font-weight: bold;
            text-decoration: none;
            color: inherit;
        }

        li {
            list-style: none;
            display: inline-block;
            margin: 1em;
            font-size: .9em;
            transition: color 0.8s ease-out;

            &:is(:hover){
                color: $yellowColor;
            }
        }
    }

    .site-main {
        margin: 8rem auto;
        margin-bottom: 0;
        width: 95%;
        overflow: hidden;


        .home-main-grid {
            display: grid;
            gap: 2rem;
            width: 100%;
            grid-template-columns: repeat(6, 1fr);
            grid-template-rows: repeat(3, 1fr);
            justify-items: stretch;
            align-items: center;
        }




        img {
            width: 90%;
            align-self: baseline;
            grid-column-start: 1;
            grid-column-end: 4;
            grid-row-start: 1;
            grid-row-end: 4;
            overflow: hidden;
        }


        h2 {
            width: 100%;
            grid-column-start: 4;
            grid-column-end: 7;
            grid-row-start: 1;
            grid-row-end: 2;
            font-size: 4.5rem;
            line-height: 5.6rem;
            letter-spacing: 1.5px;
            font-weight: bolder;
            align-self: flex-end;
            
        }

        p{
            width: 100%;
            grid-column-start: 4;
            grid-column-end: 7;
            grid-row-start: 2;
            grid-row-end: 3;
            font-size: 2.5rem;
            align-self: flex-start;
            margin-top: 2rem;
            overflow-wrap: break-word;
        }

        .main-grid-buttons{
            grid-column: 4 / 7;
            grid-row: 3 / 4;
            width: 100%;
            align-self: flex-start;
            
            a{
                color: inherit;
                text-decoration: none;
                border: 2px solid $primaryColor;
                padding: 1em 1.5em;
                font-size: 2.0em;
                font-weight: bold;
                margin-right: 1em;
                transition: all 0.8s ease-out;

                &:hover{
                    background-color: $yellowColor;
                    border-color: $yellowColor;
                }
            }
        }

    }

    footer{
        background-color: red;
        
    }
}

;