@import 'variables';

*,
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
    color: $primaryColor;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.site-wraper {
    height: 100vh;
    width: 100%;
    padding: 2.5rem 4rem;
    background-color: #04133b;
    background-repeat: no-repeat;
    background-size: cover;

    .site-head {
        font-size: 2.5rem;
        width: 100%;
        margin: 1rem 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        h1 {
            font-size: 4.0rem;
        }

        a {
            font-weight: bold;
            text-decoration: none;
            color: inherit;
        }

        li {
            list-style: none;
            display: inline-block;
            margin: 1em;
            font-size: .9em;
            transition: color 1s ease-out;

            &:hover {
                color: yellow
            }
        }
    }

    .site-main {
        
        margin: 4rem auto;
        width: 95%;
        height: 75vh;

        .home-main-grid {
            display: grid;
            gap: 1rem;
            width: 100%;
            height: 100%;
            
            grid-template-columns: repeat(6, 1fr);
            grid-template-rows: repeat(3, 1fr);
            justify-items: center;
            align-items: center;
        }




        img {
            width: 110%;

            height: 110%;
            grid-column-start: 1;
            grid-column-end: 4;
            grid-row-start: 1;
            grid-row-end: 4;
            overflow: hidden;
        }


        h2 {
            width: 100%;
            grid-column-start: 4;
            grid-column-end: 7;
            grid-row-start: 1;
            grid-row-end: 2;
            font-size: 4.5rem;
            line-height: 60px;
            letter-spacing: 1.5px;
            font-weight: bolder;
            align-self: flex-end;
        }

        p{
            width: 100%;
            grid-column-start: 4;
            grid-column-end: 7;
            grid-row-start: 2;
            grid-row-end: 3;
            font-size: 2.5rem;
            align-self: flex-start;
            margin-top: 4rem;
        }

    }


}

;